Журавлев К. В. ПИ20-1 Лабораторная работа 3 pandas

Задание 1

In [2]:
import pandas as pd
import numpy as np
a = pd.Series(np.arange(1, 101))
b = pd.Series(np.random.randint(0, 11, size = 100))
df = pd.concat([a, b], axis = 1)
df

      0   1
0     1   9
1     2   8
2     3   7
3     4   9
4     5   6
..  ...  ..
95   96   0
96   97   5
97   98   4
98   99  10
99  100   3

[100 rows x 2 columns]

Задание 2

In [3]:
df.describe().T

   count   mean        std  min    25%   50%    75%    max
0  100.0  50.50  29.011492  1.0  25.75  50.5  75.25  100.0
1  100.0   4.98   3.287503  0.0   2.00   5.0   8.00   10.0

Задание 3

In [4]:
df = (df - df.mean(axis = 0)) / (df.std(axis = 0))
df.describe()

                  0             1
count  1.000000e+02  1.000000e+02
mean   3.552714e-17 -9.214851e-17
std    1.000000e+00  1.000000e+00
min   -1.706220e+00 -1.514827e+00
25%   -8.531102e-01 -9.064630e-01
50%    0.000000e+00  6.083644e-03
75%    8.531102e-01  9.186303e-01
max    1.706220e+00  1.526995e+00

Задание 4

In [5]:
df1 = df.copy()
df1 -= df1.min(axis = 0)
df1 /= df1.max(axis = 0)
df1.describe()

                0          1
count  100.000000  100.00000
mean     0.500000    0.49800
std      0.293045    0.32875
min      0.000000    0.00000
25%      0.250000    0.20000
50%      0.500000    0.50000
75%      0.750000    0.80000
max      1.000000    1.00000

Задание 5

In [6]:
df.insert(0, 's3', df[0] * df[1])
df.head()

         s3         0         1
0 -2.086388 -1.706220  1.222813
1 -1.535721 -1.671751  0.918630
2 -1.006025 -1.637282  0.614448
3 -1.959940 -1.602813  1.222813
4 -0.486604 -1.568344  0.310266

Задание 6

In [7]:
df.to_csv('file.csv', index=False)
df1 = pd.read_csv('file.csv')
df1.head()

         s3         0         1
0 -2.086388 -1.706220  1.222813
1 -1.535721 -1.671751  0.918630
2 -1.006025 -1.637282  0.614448
3 -1.959940 -1.602813  1.222813
4 -0.486604 -1.568344  0.310266

Задание 7

In [8]:
df1.iloc[:, [0, 2]][df1.iloc[:, 2] > 0]

          s3         1
0  -2.086388  1.222813
1  -1.535721  0.918630
2  -1.006025  0.614448
3  -1.959940  1.222813
4  -0.486604  0.310266
5  -2.342219  1.526995
6  -0.465214  0.310266
10 -0.836589  0.614448
11 -0.815410  0.614448
12 -0.007864  0.006084
15 -1.454149  1.222813
18 -0.336879  0.310266
19 -0.326185  0.310266
20 -0.006186  0.006084
21 -0.902434  0.918630
24 -0.540077  0.614448
25 -1.032657  1.222813
26 -0.251323  0.310266
29 -1.079000  1.526995
30 -0.821910  1.222813
32 -0.921097  1.526995
33 -0.695463  1.222813
35 -0.459133  0.918630
38 -0.122988  0.310266
39 -0.442567  1.222813
40 -0.300811  0.918630
44 -0.001153  0.006084
46 -0.184219  1.526995
47 -0.000524  0.006084
51  0.047497  0.918630
52  0.105373  1.222813
54  0.189672  1.222813
55  0.058820  0.310266
57  0.237483  0.918630
59  0.400418  1.222813
60  0.332476  0.918630
61  0.243564  0.614448
62  0.133682  0.310266
63  0.710561  1.526995
65  0.653313  1.222813
69  0.004089  0.006084
74  0.262017  0.310266
76  1.116955  1.222813
79  0.006186  0.006084
80  1.285552  1.222813
81  0.667153  0.614448
82  0.347574  0.310266
86  0.007654  0.006084
89  0.422436  0.310266
90  1.707044  1.222813
91  0.008702  0.006084
92  2.236951  1.526995
93  0.009122  0.006084
94  1.875641  1.222813
96  0.009751  0.006084
98  2.552755  1.526995

Задание 8

In [9]:
df1.sort_values(by = ['s3'], ascending = False)

          s3         0         1
98  2.552755  1.671751  1.526995
92  2.236951  1.464937  1.526995
13  1.905838 -1.258122 -1.514827
94  1.875641  1.533875  1.222813
16  1.749194 -1.154715 -1.514827
..       ...       ...       ...
87 -1.958053  1.292591 -1.514827
3  -1.959940 -1.602813  1.222813
0  -2.086388 -1.706220  1.222813
5  -2.342219 -1.533875  1.526995
95 -2.375771  1.568344 -1.514827

[100 rows x 3 columns]

Задание 9

In [10]:
a = 1
b = 2
df.insert(3, 's4', df['s3'] * a + b + np.random.rand())

In [11]:
df.head()

         s3         0         1        s4
0 -2.086388 -1.706220  1.222813  0.745050
1 -1.535721 -1.671751  0.918630  1.295717
2 -1.006025 -1.637282  0.614448  1.825413
3 -1.959940 -1.602813  1.222813  0.871498
4 -0.486604 -1.568344  0.310266  2.344834

In [12]:
df.corr()

          s3         0         1        s4
s3  1.000000  0.066901  0.051522  1.000000
0   0.066901  1.000000 -0.119358  0.066901
1   0.051522 -0.119358  1.000000  0.051522
s4  1.000000  0.066901  0.051522  1.000000

Задание 10

In [49]:
df2 = df.rename(columns={'s3': 0, 0: 1, 1: 2, 's4': 3})
columns = [0, 1, 2, 3]
column1 = np.random.choice(columns)
column2 = np.random.choice(columns)
number1 = np.random.choice(df2[column1])
number2 = np.random.choice(df2[column2])
distance = np.linalg.norm(number1 - number2)
distance

1.9948147717763938

Задание 11

In [26]:
len_df = df.shape[0]
print((df.nunique()[0] / len_df) * (df.nunique()[1] / len_df) * (df.nunique()[2] / len_df) * (df.nunique()[3] / len_df))

KeyError: ignored

Задание 12

In [24]:
nick = {'Имя': ['Мария', 'Яна', 'Анастасия', 'Ирина', 'Кристина', 'Иван', 'Леонид'], 'Возраст': [19, 20, 19, 21, 22, 21, 24], 'Рост': [170, 175, 165, 158, 173, 180, 190], 'Пол': ['Ж', 'Ж', 'Ж', 'Ж', 'Ж', 'М', 'М']}
data = pd.DataFrame(nick)
data.groupby('Пол',).mean()

     Возраст   Рост
Пол
Ж       20.2  168.2
М       22.5  185.0

Задание 13

In [25]:
d1 = data.pivot(columns = 'Пол')
d1 = d1.fillna(value = 0)
d1

           Имя         Возраст         Рост
Пол          Ж       М       Ж     М      Ж      М
0        Мария       0    19.0   0.0  170.0    0.0
1          Яна       0    20.0   0.0  175.0    0.0
2    Анастасия       0    19.0   0.0  165.0    0.0
3        Ирина       0    21.0   0.0  158.0    0.0
4     Кристина       0    22.0   0.0  173.0    0.0
5            0    Иван     0.0  21.0    0.0  180.0
6            0  Леонид     0.0  24.0    0.0  190.0